body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
}
#u3130 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:615px;
}
#u3131 {
  position:absolute;
  left:2px;
  top:300px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:31px;
}
#u3132 {
  position:absolute;
  left:400px;
  top:0px;
  width:800px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u3133 {
  position:absolute;
  left:10px;
  top:7px;
  width:788px;
  word-wrap:break-word;
}
#u3134 {
  position:absolute;
  left:400px;
  top:35px;
  width:805px;
  height:235px;
}
#u3135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3135 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  color:#FFFFFF;
}
#u3136 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3137 {
  position:absolute;
  left:200px;
  top:0px;
  width:300px;
  height:30px;
  color:#FFFFFF;
}
#u3138 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3139 {
  position:absolute;
  left:500px;
  top:0px;
  width:300px;
  height:30px;
  color:#FFFFFF;
}
#u3140 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3141 {
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
}
#u3142 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3143 {
  position:absolute;
  left:200px;
  top:30px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3144 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3145 {
  position:absolute;
  left:500px;
  top:30px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3146 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3147 {
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:30px;
}
#u3148 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3149 {
  position:absolute;
  left:200px;
  top:60px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3150 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3151 {
  position:absolute;
  left:500px;
  top:60px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3152 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:81px;
}
#u3153 {
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:80px;
}
#u3154 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  word-wrap:break-word;
}
#u3155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:81px;
}
#u3155 {
  position:absolute;
  left:200px;
  top:90px;
  width:300px;
  height:80px;
  text-align:left;
}
#u3156 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u3157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:81px;
}
#u3157 {
  position:absolute;
  left:500px;
  top:90px;
  width:300px;
  height:80px;
  text-align:left;
}
#u3158 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3159 {
  position:absolute;
  left:0px;
  top:170px;
  width:200px;
  height:30px;
}
#u3160 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3161 {
  position:absolute;
  left:200px;
  top:170px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3162 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3163 {
  position:absolute;
  left:500px;
  top:170px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3164 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3165 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:30px;
}
#u3166 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3167 {
  position:absolute;
  left:200px;
  top:200px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3168 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u3169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3169 {
  position:absolute;
  left:500px;
  top:200px;
  width:300px;
  height:30px;
  text-align:left;
}
#u3170 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:181px;
}
#u3171 {
  position:absolute;
  left:960px;
  top:350px;
  width:280px;
  height:180px;
}
#u3172 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
}
#u3173 {
  position:absolute;
  left:1010px;
  top:380px;
  width:180px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3174 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u3175 {
  position:absolute;
  left:1070px;
  top:410px;
  width:60px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u3176 {
  position:absolute;
  left:0px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u3177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u3177 {
  position:absolute;
  left:1020px;
  top:490px;
  width:100px;
  height:20px;
  color:#008000;
  text-align:center;
}
#u3178 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u3179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u3179 {
  position:absolute;
  left:1130px;
  top:490px;
  width:100px;
  height:20px;
  color:#008000;
  text-align:center;
}
#u3180 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u3181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u3181 {
  position:absolute;
  left:400px;
  top:430px;
  width:81px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3182 {
  position:absolute;
  left:0px;
  top:6px;
  width:81px;
  white-space:nowrap;
}
#u3183 {
  position:absolute;
  left:500px;
  top:448px;
  width:0px;
  height:0px;
}
#u3183_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u3183_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3184 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3185 {
  position:absolute;
  left:880px;
  top:448px;
  width:0px;
  height:0px;
}
#u3185_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u3185_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3186 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3187 {
  position:absolute;
  left:10px;
  top:190px;
  width:40px;
  height:40px;
}
#u3188 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3189 {
  position:absolute;
  left:10px;
  top:235px;
  width:40px;
  height:40px;
}
#u3190 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3191 {
  position:absolute;
  left:10px;
  top:285px;
  width:40px;
  height:40px;
}
#u3192 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3193 {
  position:absolute;
  left:10px;
  top:330px;
  width:40px;
  height:40px;
}
#u3194 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3195 {
  position:absolute;
  left:10px;
  top:380px;
  width:40px;
  height:40px;
}
#u3196 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3197 {
  position:absolute;
  left:10px;
  top:425px;
  width:40px;
  height:40px;
}
#u3198 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3199 {
  position:absolute;
  left:10px;
  top:475px;
  width:40px;
  height:40px;
}
#u3200 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3201 {
  position:absolute;
  left:10px;
  top:525px;
  width:40px;
  height:40px;
}
#u3202 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3203 {
  position:absolute;
  left:10px;
  top:570px;
  width:40px;
  height:40px;
}
#u3204 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3205 {
  position:absolute;
  left:0px;
  top:185px;
  width:360px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3206 {
  position:absolute;
  left:40px;
  top:150px;
  visibility:hidden;
}
#u3206_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:401px;
}
#u3207 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:400px;
}
#u3208 {
  position:absolute;
  left:2px;
  top:192px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u3209 {
  position:absolute;
  left:150px;
  top:360px;
  width:50px;
  height:20px;
  text-align:center;
}
#u3210 {
  position:absolute;
  left:0px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u3211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u3211 {
  position:absolute;
  left:210px;
  top:360px;
  width:50px;
  height:20px;
  color:#008000;
  text-align:center;
}
#u3212 {
  position:absolute;
  left:0px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u3213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u3213 {
  position:absolute;
  left:20px;
  top:20px;
  width:65px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3214 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3215 {
  position:absolute;
  left:20px;
  top:50px;
  width:40px;
  height:40px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u3216 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u3217 {
  position:absolute;
  left:70px;
  top:60px;
  width:53px;
  height:20px;
  font-size:13px;
}
#u3218 {
  position:absolute;
  left:0px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u3219 {
  position:absolute;
  left:20px;
  top:340px;
  width:240px;
  height:1px;
}
#u3220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3221 {
  position:absolute;
  left:25px;
  top:310px;
  width:230px;
  height:25px;
}
#u3221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:201px;
}
#u3222 {
  position:absolute;
  left:55px;
  top:100px;
  width:170px;
  height:200px;
}
#u3223 {
  position:absolute;
  left:2px;
  top:92px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u3224 {
  position:absolute;
  left:65px;
  top:110px;
  width:150px;
  height:30px;
  font-size:12px;
}
#u3225 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3226 {
  position:absolute;
  left:65px;
  top:280px;
  width:15px;
  height:15px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  color:#764DC4;
  text-align:center;
}
#u3227 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u3228 {
  position:absolute;
  left:85px;
  top:280px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u3229 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u3230 {
  position:absolute;
  left:65px;
  top:150px;
  width:150px;
  height:120px;
}
#u3231 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3232 {
  position:absolute;
  left:40px;
  top:300px;
  visibility:hidden;
}
#u3232_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3232_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:181px;
}
#u3233 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u3234 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
}
#u3235 {
  position:absolute;
  left:50px;
  top:30px;
  width:180px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3236 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u3237 {
  position:absolute;
  left:110px;
  top:60px;
  width:60px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u3238 {
  position:absolute;
  left:0px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u3239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u3239 {
  position:absolute;
  left:60px;
  top:140px;
  width:100px;
  height:20px;
  color:#008000;
  text-align:center;
}
#u3240 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u3241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u3241 {
  position:absolute;
  left:170px;
  top:140px;
  width:100px;
  height:20px;
  color:#008000;
  text-align:center;
}
#u3242 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u3243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:401px;
}
#u3243 {
  position:absolute;
  left:580px;
  top:300px;
  width:280px;
  height:400px;
}
#u3244 {
  position:absolute;
  left:2px;
  top:192px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u3245 {
  position:absolute;
  left:730px;
  top:660px;
  width:50px;
  height:20px;
  text-align:center;
}
#u3246 {
  position:absolute;
  left:0px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u3247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u3247 {
  position:absolute;
  left:790px;
  top:660px;
  width:50px;
  height:20px;
  color:#008000;
  text-align:center;
}
#u3248 {
  position:absolute;
  left:0px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u3249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u3249 {
  position:absolute;
  left:600px;
  top:320px;
  width:65px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3250 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3251 {
  position:absolute;
  left:600px;
  top:350px;
  width:40px;
  height:40px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u3252 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u3253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u3253 {
  position:absolute;
  left:650px;
  top:360px;
  width:53px;
  height:20px;
  font-size:13px;
}
#u3254 {
  position:absolute;
  left:0px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u3255 {
  position:absolute;
  left:600px;
  top:640px;
  width:240px;
  height:1px;
}
#u3256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3257 {
  position:absolute;
  left:605px;
  top:610px;
  width:230px;
  height:25px;
}
#u3257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:201px;
}
#u3258 {
  position:absolute;
  left:635px;
  top:400px;
  width:170px;
  height:200px;
}
#u3259 {
  position:absolute;
  left:2px;
  top:92px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u3260 {
  position:absolute;
  left:645px;
  top:410px;
  width:150px;
  height:30px;
  font-size:12px;
}
#u3261 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3262 {
  position:absolute;
  left:645px;
  top:580px;
  width:15px;
  height:15px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  color:#764DC4;
  text-align:center;
}
#u3263 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u3264 {
  position:absolute;
  left:665px;
  top:580px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u3265 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u3266 {
  position:absolute;
  left:645px;
  top:450px;
  width:150px;
  height:120px;
}
#u3267 {
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3268 {
  position:absolute;
  left:1065px;
  top:521px;
  width:0px;
  height:0px;
}
#u3268_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u3268_seg1 {
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:226px;
}
#u3268_seg2 {
  position:absolute;
  left:-631px;
  top:214px;
  width:636px;
  height:8px;
}
#u3268_seg3 {
  position:absolute;
  left:-631px;
  top:-61px;
  width:8px;
  height:283px;
}
#u3268_seg4 {
  position:absolute;
  left:-637px;
  top:-66px;
  width:20px;
  height:20px;
}
#u3269 {
  position:absolute;
  left:-393px;
  top:210px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
